
extends layout



block content
	if memory.video || memory.audio
		#memoryContainer
			#memory
				if memory.video
					div.loading= "loading..."
					video#day(autoplay=true)
						source(src="http://pastperfeect.s3.amazonaws.com/"+memory.video, type='video/mp4')
				else if memory.audio
					#colors
					audio(autoplay=true)
						source(src="http://pastperfeect.s3.amazonaws.com/"+memory.audio, type="audio/wav")

			a(href="/archive") 
				div#logo-shadow
					div#logo
						h1= "Past Perfect"

			if memory.video
				div#legend
					div.red="Affection"
					div.yellow="Anger"
					div.blue="Honesty"
					div.green="Joy"
					div.purple="Pride"
					div.orange="Regret"
					div.brown="Sorrow"
	else

		#mainContainer
			#consult
				a(href="/consultation")!="Schedule a Consultation"
			#container
				include nav
				#consultation
					div.memorybox
						div.memory
							if memory.text
								p.title= memory.title
								p= memory.subtitle
								p= memory.text
							else
								p.title This memory is coming soon...
							a(href="/archive")!= "Back to the archive"
								
					#spacer

				include footer


