extends layout

block content
	#memory
		a(href="/memory/"+memory.title)!= memory.title
		div.video= "video: " + memory.video
		div.viz= "viz: " + memory.viz
		div.joy= "joy: " + memory.joy 
		div.joy= "sorrow: " + memory.sorrow 
		video#day(autoplay=true)
			source(src="../memories/"+memory.video, type='video/mp4')
		video#viz(autoplay=false)
			source(src="../memories/"+memory.viz, type='video/mp4')
