#menu 
	#drop
		#choose-label="View memories containing:"
		.choose(data-dropdown="#dropdown-1")!=emotion
		#dropdown-1.dropdown.dropdown-tip
			ul.dropdown-menu
				li
					a(href="/archive")!= "[Sort by emotion]"
					a(href="/archive/Longing")!= "Longing"
					a(href="/archive/Loneliness")!= "Loneliness"
					a(href="/archive/Loss")!= "Loss"
					a(href="/archive/Wonder")!= "Wonder"
					a(href="/archive/Sadness")!= "Sadness"
					a(href="/archive/Anxiety")!= "Anxiety"
					a(href="/archive/Depression")!= "Depression"
					a(href="/archive/Grief")!= "Grief"
					a(href="/archive/Desertion")!= "Desertion"
					a(href="/archive/Fatigue")!= "Fatigue"
					a(href="/archive/Surprise")!= "Surprise"
					a(href="/archive/Joy")!= "Joy"
					a(href="/archive/Comfort")!= "Comfort"
					a(href="/archive/Excitement")!= "Excitement"
					a(href="/archive/Accomplishment")!= "Accomplishment"
					a(href="/archive/Contentment")!= "Contentment"
					a(href="/archive/Satisfaction")!= "Satisfaction"
					a(href="/archive/Frustration")!= "Frustration"
					a(href="/archive/Fun")!= "Fun"
					a(href="/archive/Relief")!= "Relief"
					a(href="/archive/Anticipation")!= "Anticipation"
					a(href="/archive/Resolve")!= "Resolve"
					a(href="/archive/Fear")!= "Fear"
					a(href="/archive/Hunger")!= "Hunger"
					a(href="/archive/Pain")!= "Pain"
					a(href="/archive/Horror")!= "Horror" 
					a(href="/archive/Bliss")!= "Bliss" 
					a(href="/archive/Love")!= "Love" 
					a(href="/archive/Curiosity")!= "Curiosity" 
					a(href="/archive/Affection")!= "Affection" 
					a(href="/archive/Fuzzy")!= "Fuzzy" 
					a(href="/archive/Pride")!= "Pride" 
					a(href="/archive/Awe")!= "Awe" 
					a(href="/archive/Ecstasy")!= "Ecstasy" 
					a(href="/archive/Distraction")!= "Distraction" 
					a(href="/archive/Lost")!= "Lost" 
					a(href="/archive/Ambivalence")!= "Ambivalence" 
					a(href="/archive/Disgust")!= "Disgust" 
					a(href="/archive/Discomfort")!= "Discomfort" 
					a(href="/archive/Acceptance")!= "Acceptance" 
					a(href="/archive/Uncertainty")!= "Uncertainty" 
					a(href="/archive/Defeat")!= "Defeat" 
					a(href="/archive/Warmth")!= "Warmth" 
					a(href="/archive/Searching")!= "Searching" 
					a(href="/archive/Kinship")!= "Kinship" 
					a(href="/archive/Anger")!= "Anger" 

